<%= render 'layouts/header' %>
<h1> This is the Repair Order home Page </h1>

<h4> Repair Orders assigned to you </h4>

<li> </li>


<h3> Create New Repair Order </h3>
<%= link_to "Create New Repair Order", ro_home_new_path %>&nbsp;
