<form>
  <div class="form_goup row">
    <div class="col-md-3">
      <%= form_for(@repair_order) do |f| %>
        <%= f.label :VIN %>
        <%= f.text_field :VIN, class: 'form-control', :required => true %>
        <button type="submit" class="btn btn-primary mb-2">Search VIN</button>

      <% end %>
